main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(235px, auto);
    grid-template-areas:
        "hd hd hd hd hd hd"
        "b1 b1 b2 b2 b3 b3"
        "b1 b1 b2 b2 b3 b3"
        "ft ft ft ft ft ft";
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgba(0, 0, 0, 0.5);
}

a:link {
    color: var(--white);

}



div {
    border: 2px solid var(--white);


}

.header {
    grid-area: hd;
    background-color: var(--black);
}


.foot {
    grid-area: ft;
    background-color: var(--black);
}

.block1 {
    grid-area: b1;
    background-color: var(--black);

}

.block2 {
    grid-area: b2;
    background-color: var(--black);
    
}

.block3 {
    grid-area: b3;
    background-color: var(--black);
    column-count: 3;

}

.block4 {
    grid-area: b4;
    background-color: var(--black);
}
