.box {
    background: linear-gradient(208deg,#000000,#cf2f2f,rgb(116, 0, 0));
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-size: 20px;
}

.btn1 h3{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    }


    .wrapper .btn1 {
        height: 60px;
        width: 280px;
        position: absolute;
        top: 6%;
        left: 24%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding: 12px 24px;
        border: transparent;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .wrapper .btn1:hover {
        background-color: transparent;
        color: rgb(0, 0, 0);
      }
    


.wrapper {
    display:grid;
    grid-template-areas: 
    "hd"
    "lsd"
    "main"
    "rsd"
    "ft";
    gap:10px;
}

 

.box {
    color: white;
    background-color: rgb(201, 8, 8);
    border: 2px solid rgb(201, 8, 8);
    border-radius: 5px;
    text-align: center;
    padding:5px;
}

.font-x-large {
    font-size: x-large;
}

.header {
    grid-area: hd;
}
.tekst{
    margin-left: 4px;
}

.left-sidebar {
    grid-area: lsd;
}

.grid-container {
    grid-area: main;
}

.right-sidebar {
    grid-area: rsd;
}

.footer {
    grid-area: ft;
}

.listing {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    gap:10px;
}

.listing img {
max-width: 100%;
}

.listing li {
    border: 2px solid rgb(201, 8, 8);
    border-radius: 5px;
    display:flex; 
    flex-direction: column;  
}


.listing li h2 {
    background-color: rgb(201, 8, 8);
    color: white;
    text-align:center;
    padding: 10px;
    margin:0px;
}

.listing .cta {
    margin-top: auto;
    border-top: 2px solid rgb(201, 8, 8);
    padding: 10px;
    text-align: center;
}

.listing .cta a {
    text-decoration: none;
    color: rgb(201, 8, 8);
    font-size: 30px;
}

.listing .body {
    padding: 10px;
}

.wrapper .btn {
    height: 60px;
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .wrapper .btn:hover {
    background-color:transparent;
    color: white;
  }
  
  

.imageUrl{
list-style: none;
}

.headerImg{
    width: 200px;
}


@media (min-width: 1280px) {
    .wrapper {
        display:grid;
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "hd hd hd"
        "lsd main rsd"
        "lsd main rsd"
        "ft ft ft";
        
        width: 1280px;
        margin: auto;
    } 
}


@media (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        display:grid;
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "hd hd"
        "lsd main"
        "lsd main"
        "ft ft";
    } 
    .right-sidebar {
        display: none;
    }
}