* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display:grid;
    grid-template-areas: 
    "hd"
    "lsd"
    "main"
    "rsd"
    "ft";
    gap:10px;
}

.listing img{
    max-width: 100%;
}

.box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding:5px;
}

.font-x-large {
    font-size: x-large;
}

.header {
    grid-area: hd;
}



.grid-container {
    grid-area: main;
}

.left-sidebar {
    grid-area: lsd;
}

.right-sidebar {
    grid-area: rsd;
}

.footer {
    grid-area: ft;
}



.listing li {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    display:flex; 
    flex-direction: column;  
}

.listing li h2 {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align:center;
    padding: 10px;
    margin:0px;
}

.listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    gap:10px;
}

.listing .cta {
    margin-top: auto;
    border-top: 2px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.listing .body {
    padding: 10px;
}

.listing .cta a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        display:grid;
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "hd hd"
        "lsd main"
        "lsd main"
        "ft ft";
    } 
    .right-sidebar {
        display: none;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        display:grid;
        grid-auto-rows: minmax(60px, auto);
        grid-template-areas: 
        "hd hd hd"
        "lsd main rsd"
        "lsd main rsd"
        "ft ft ft";
        
        width:1280px;
        margin: auto;
    } 
}
